<!DOCTYPE html>
<html lang="en>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Cookies, Terminos y Condiciones</title>
       <link rel="stylesheet" href="./estilos.css">
</head>
<body>
<div class="cookies-box">
    <div class="container-cookies">
        <div class="parrafo">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos saepe, alias minus cumque beatae ullam. Voluptatum 
                praesentium deleniti error laboriosam! <a href="mostrarpo">Politicas de Cookies</a></p>

        </div>
        <div class="botones">
            <button id="acep">Aceptar</button> 
            <button id="close">Cerrar</button>
        </div>
    </div>
</div>

<div class="modal">
<div class="titulo">
    <h2>Politicas de Cookies / Terminos y Condiciones</h2>
    <botton id="close_modal">x</botton>

</div>
<div class="parrafo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, pariatur.</p>

</div>

<div class="aceptar-modal">
<button id="acept_cookie">Aceptar</button>

</div>
</div>

<script src="./script.js"></script>


</body>
        
        
                </html>