/node_modules
/public/hot
/public/documentos
/public/storage
/storage/*.key
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor.zip
/public/images/qr/boleta
/public/images/qr/entregaqr
/public/images/qr/cedula
/public/images/qr/manifiesto
/public/images/qr/contrato
/public/images/temp
/public/images/citas/foto0
/public/images/citas/foto1